extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h2
      i.fas.fa-tree
      | IOT Modules Data
  table.table.table-striped.table-bordered.table-sm
    thead
      tr
        th Area
        th RainFall
        th produce
        th fertility
        th GroundWater
        th livestock
